*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik',sans-serif;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.body-background{
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container{
    background: url('/images/pattern-bg.png');
    background-repeat: no-repeat;
    position: relative;
    margin:0;
}
.heading1{
    padding: 25px 0;
    color:white;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
}
.input-container{
    width: 95%;
    height: 80px;
    max-width: 500px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    top:5%;
}
.input-container input{
    height: 100%;
    flex-grow: 8;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size:15px ;
    padding-left: 10px;
}
.input-container button{
    height: 100%;
    flex-grow: 1;
    border: none;
    border-radius:0 10px 10px 0;
    background-color: hsl(0, 0%, 17%);
}
.input-container button:hover{
    cursor: pointer;
    background-color:hsl(0, 0%, 59%);
  }
#map{
    flex: 1 1 70vh;
}

.form{
    width: min-content;
    margin: 5vh auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
.input{
    box-sizing: border-box;
    padding: 1rem;
    width: min(500px, 80vh);
    border:none;
    font-size: 0.9rem;
}
