*{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
 
}
.top-container{
  flex: 0 0 auto;
  background-image: url('images/pattern-bg.png');
  position: relative;
  padding: 5vh 5% 100px ;
}

body{
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading1{
  color: white;
  text-align: center;
  margin: 0px;
  font-size: 40px;
}


